.stepper-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  
  .stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;

  }

  
  .stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ad4ed9;
    width: 0;
    top: 20px;
    left: 50%;
    z-index: 3;//2
    animation: progres_line_back 1s linear;    
  }
  
  .stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 6px;
    animation-name: color_change;
    animation-delay: 0.5;
	  animation-duration: 1.5s;
  }

  @keyframes color_change {
    from { background-color: #ad4ed9; }
    to { background-color: #ccc; }
  }
  
  .stepper-item.active {
    font-weight: bold;
    font-size: 18px;
    text-align: center;

  }

  .stepper-item.completed .step-counter {
  background-color: #ad4ed9;

  }
  
  .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ad4ed9;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 3;
    animation: progres_line 0.9s linear;    

  }
  
  .stepper-item:first-child::before {
    content: none;
  }
  .stepper-item:last-child::after {
    content: none;
  }


    .icon{
        color: #ffffff;
        font-size:24px;
        animation: progres 0.4s linear;    
     }
     .icon2{
      color: #ffffff;
      font-size:20px;
      animation: progres2 0.4s linear;    
   }
     
    @keyframes progres{
        0%{
            font-size: 0;
        }
        100%{
            font-size: 24px;
        }
    };

    @keyframes progres2{
      0%{
          font-size: 0;
      }
      100%{
          font-size: 20px;
      }
  };

    @keyframes progres_line{
        0%{
          width: 0%;
        }
        10%{
            width: 10%;
          }
          20%{
            width: 20%;
          }
          30%{
            width: 30%;
          }
        40%{
            width: 40%;
        }
        50%{
            width: 50%;
        }
        60%{
            width: 60%;
          }
        70%{
            width: 70%;
        }
        80%{
            width: 80%;
          }
          90%{
            width: 90%;
          }
        100%{
            width: 100%;
        }
    };



    @keyframes progres_line_back{
        0%{
          width: 100%;
        }
        10%{
            width: 90%;
          }
          20%{
            width: 80%;
          }
          30%{
            width: 70%;
          }
        40%{
            width: 60%;
        }
        50%{
            width: 50%;
        }
        60%{
            width: 40%;
          }
        70%{
            width: 30%;
        }
        80%{
            width: 20%;
          }
          90%{
            width: 10%;
          }
        100%{
            width: 0;
        }
    };

    

    .slide-out-left {
      -webkit-animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
              animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }



    /* ----------------------------------------------
 * Generated by Animista on 2021-10-28 16:0:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
}


.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          margin-top: 20px;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-10-28 16:2:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-10-28 16:3:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.none{
  display: none;
}



.file {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 2.5rem;
  width: 100%;
}
.file input {
  min-width: 14rem;
  margin: 0;
  filter: alpha(opacity=0);
  opacity: 0;
}
.file-custom {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 2.5rem;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  border: .075rem solid #ddd;
  border-radius: .25rem;
  box-shadow: inset 0 .2rem .4rem rgba(0,0,0,.05);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.file-custom:after {
  content: "Choose file...";
}
.file-custom:before {
  position: absolute;
  top: -.075rem;
  right: -.075rem;
  bottom: -.075rem;
  z-index: 6;
  display: block;
  content: "Browse";
  height: 2.5rem;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #eee;
  border: .075rem solid #ddd;
  border-radius: 0 .25rem .25rem 0;
}

/* Focus */
.file input:focus ~ .file-custom {
  box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;
}



ion-item {
  
  // --highlight-color-focused: #0d2852;
  --highlight-color-focused:   #ad4ed9;


}

ion-item.item-has-focus > ion-label{
  color: grey !important;
}

input[type=file] {
 display: none;
}

.custom-file-upload
{
  border: 1px solid #ccc;
  background-color:#ad4ed9;
  border-radius: 10px;
  padding: 6px 16px 6px 12px;
  color: white;
  box-shadow: 0 3px 3px #ccc;
  cursor: pointer;
  right: 10px;
  position: absolute;
}

.custom-file-upload2
{
  background-color:transparent;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  right: 10px;
  position: absolute;
}

.upload_icon
{
  position: fixed;
  margin-top: -16px;
  margin-left: 25px;
  padding-left: 8px;
}





.gif_alert_css
{
.success-checkmark {
width: 80px;
height: 115px;
margin: 0 auto;

.check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid #4CAF50;
    
    &::before {
        top: 3px;
        left: -2px;
        width: 30px;
        transform-origin: 100% 50%;
        border-radius: 100px 0 0 100px;
    }
    
    &::after {
        top: 0;
        left: 30px;
        width: 60px;
        transform-origin: 0 50%;
        border-radius: 0 100px 100px 0;
        animation: rotate-circle 4.25s ease-in;
    }
    
    &::before, &::after {
        content: '';
        height: 100px;
        position: absolute;
        // background: #FFFFFF;
        transform: rotate(-45deg);
    }
    
    .icon-line {
        height: 5px;
        background-color: #4CAF50;
        display: block;
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        
        &.line-tip {
            top: 46px;
            left: 14px;
            width: 25px;
            transform: rotate(45deg);
            animation: icon-line-tip 0.75s;
        }
        
        &.line-long {
            top: 38px;
            right: 8px;
            width: 47px;
            transform: rotate(-45deg);
            animation: icon-line-long 0.75s;
        }
    }
    
    .icon-circle {
        top: -4px;
        left: -4px;
        z-index: 10;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        position: absolute;
        box-sizing: content-box;
        border: 4px solid rgba(76, 175, 80, .5);
    }
    
    .icon-fix {
        top: 8px;
        width: 5px;
        left: 26px;
        z-index: 1;
        height: 85px;
        position: absolute;
        transform: rotate(-45deg);
        // background-color: #FFFFFF;
    }
}
}

@keyframes rotate-circle {
0% {
    transform: rotate(-45deg);
}
5% {
    transform: rotate(-45deg);
}
12% {
    transform: rotate(-405deg);
}
100% {
    transform: rotate(-405deg);
}
}

@keyframes icon-line-tip {
0% {
    width: 0;
    left: 1px;
    top: 19px;
}
54% {
    width: 0;
    left: 1px;
    top: 19px;
}
70% {
    width: 50px;
    left: -8px;
    top: 37px;
}
84% {
    width: 17px;
    left: 21px;
    top: 48px;
}
100% {
    width: 25px;
    left: 14px;
    top: 45px;
}
}

@keyframes icon-line-long {
0% {
    width: 0;
    right: 46px;
    top: 54px;
}
65% {
    width: 0;
    right: 46px;
    top: 54px;
}
84% {
    width: 55px;
    right: 0px;
    top: 35px;
}
100% {
    width: 47px;
    right: 8px;
    top: 38px;
}
}

  img{
     margin:0 auto;
  
    display: block;
   
  }
}


