.list{
    margin-top: 5px;
    margin-left: 10px;
  }
 
  .information{
    margin-top: 5px;
  }

  .aciklama{
      height: 20%;
    width: 90%;
    border-radius: 5px;
    background-color: rgb(233, 233, 233);
    padding: 10px;
    
  }

  .aciklama-text{
    height: 19%;
    width: 89%;
  }
       